@charset "UTF-8";

html {
    font-size: 1;
    height: 100%;
}
body {
    max-width: 1360px;
    margin: auto;
    height: 100%;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* =====================
各htmlごとの個別の全体レイアウト設定
========================*/
.index {
    width: 100%;
    margin: auto;
}
.wrapper {
    max-width: 800px;
    margin:80px 40px;
}

/* ======================================
INDEX.html
========================================= */

/* -----------------------------------------
header
-----------------------------------------*/
#header {
    /* hamburger + menu, default opacity 0 */
    position: fixed;
    top: 0;
    height: 100vh;
    /* widthをpxで指定した場合=>右端に伸びる。max-widthで指定してからwidthを100%にするとうまくいく */
    max-width: 1360px;
    width: 100%;
    height: 7vh;
    overflow: hidden;
    z-index: 9998;
}
#header .flex-box {
    height: 7vh;
    width: 100%;
    display: flex;
    position: absolute;
    background-color: #fff;
    justify-content: space-between;
    /* 
    アイテムを縦方向の中心に寄せる
    */
    align-items: center;
}
#site_logo{
    position: relative;
    display: block;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 180px;
    margin: auto 0 ;
}
/* -----------------------------------------
hamburger
-----------------------------------------*/
#hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    max-width: none;
    width: 100vw;
    height: 100%;
    z-index: 9999;
    background-color: rgba(25, 25, 25, 0);
    /* opacity: 0.7; opacityは子要素のすべてに対して不透明になるのでbackground-colorで不透明を記載 */
    visibility: hidden;
    transition: 0.3s;
}

#hamburger-menu.active {
    visibility: visible;
    background-color: rgba(25, 25, 25, 0.7);
}
#hamburger-menu nav {
    display: block;
    margin: 40px 0 0 20px;
    line-height: 2rem;
}
#hamburger-menu a {
    opacity: 1;
    font-size: 0.875;
    color: white;
}
#hamburger-menu li {
    transform: translateX(-100%);
    opacity: 0;
}

#hamburger-btn {
    z-index: 9999;
    position: fixed;
    width: 30px;
    height: 7vh;
    top: 0;
    right: 30px;
    /* 100%にすると上に寄る。autoにすると必要な高さだけを調整してくれる*/
    /* height: 100%; */
}
#hamburger-btn span {
    /* 
    以下だけのプロパティだと横に0pxになる。
    => インライン要素にはwhidth,heightが適用されないから
    
    inline-blockを使うことで、以下ができるようになった。
        ＜インライン要素＞
        ・width/hightの指定
        ・垂直方向のmarginの指定
        ・paddingを他の要素と被らないように指定

        ＜ブロック要素＞
        ・要素を横に並べる
    */
    position: absolute;
    display: block;
    background-color: black;
    width: 30px;
    height: 2px;
    transition: 0.3s;
}
#hamburger-btn span:first-child {
    top: 20px;
}
#hamburger-btn span:last-child {
    top: 30px;
}
#hamburger-btn.active span:first-child {
    transform: rotate(45deg);
    background-color: white;
    top: 25px;
}
#hamburger-btn.active span:last-child {
    transform: rotate(-45deg);
    background-color: white;
    top: 25px;
}

/* -----------------------------------------
main
-----------------------------------------*/
main {

    /* 
    ヘッダーの高さ調整にここでposition:absolute;にしてtopで調整した
    これは、他の要素から除外してドキュメント全体を親にしてしまうので、footerが一番上に来てしまう
    margin-topで設定をする
    position: absolute;
    top: 10vh; 
    */
    position: relative;
    margin: 10vh 40px 40px 5rem;
    height: auto;
}

main a{
    display: block;
    text-align: center;
}

/* -----------------------------------------
item
-----------------------------------------*/
.item {
    height: 100%;
}
.product-image {
    width: 100%;
}

.flex-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    width: 100%;
}
.flex-box #product-image {
    width: 70%;
    margin-right: 4rem;
    height: 100%;
}

main h2 {
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: lighter;
}
main a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#product-detail p {
    display: block;
    font-size: 0.95rem;
    width: 50%;
}

/* -----------------------------------------
footer
-----------------------------------------*/
footer {
    position:inherit;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    bottom: 0;
    width: 100vw;
}
#social_media {
    position: relative;
    display: flex;
    width: 300px;
    justify-content: space-between;
    font-size: 0.75rem;
}
#company_logo {
    font-size: 0.6rem;
    position: relative;
    right: 0;
}
/* -----------------------------------------
SP
-----------------------------------------*/
@media screen and (max-width:900px){
    .item {
        margin: 10vh 0 0 0;
    }
    .item .flex-box{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 98%;
    }
    .item #product-image{
        margin: 0;
        margin-bottom: 4rem;
        width: 100%;
    }
    .item #product-image img{
        height: auto;
    }
    .item #product-detail {
        margin-bottom: 4rem;
    }
    #product-detail p{
        width: 100%;
        align-items: center;
    }
    #footer {
        position: inherit;
        margin-top: 8rem;
        flex-direction: column;
        bottom: 0;
    }
    #company_logo {
        margin-top: 1rem;
    }
    body {
        width: 100%;
    }
}